/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */
#container{
  height:600px;
  width:800px;
}
#topbar{
 width:800px;
 height:50px;
}
#menu {
 width:800px;
 height:50px;
 
}
#menu ul {
 
 
  
  
}
#menu ul li{
  
  
  
}
#menu ul li a:hover {
 
}
#menu ul li a {
 
}
img{
  width:100px;  
}

#content{
    width:800px;
    height:600px; 
}
#maincontent{
    width:400px;
    height:452px;
   
}
#subcontent {
    width:350px;
    height:452px;
    
    
}
#bottomcontent{
    width:800px;
    height:10px;
}
p{
    
    
    
}
#subcontent p{
    
}
#subcontent h1{
}
